.container {
    display: block;
    border: 1px solid black;
    padding: 15px 15px  15px 15px;
    width: 50%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}
.heading{
    color:darkcyan;
}
hr{
    border: 2px dotted red;
}
.subHeading{
    color:forestgreen;
}
.contact h1{
    color: deepskyblue;
}
a:link{
    color: deeppink;
    text-decoration: none;
}
a:hover{
    color: goldenrod;
}
ul li{
    list-style-type:square;
}